#leftmenu {
margin-left:left;
margin-bottom:auto;
width:150px;
height:600px;
text-align: left;
text-shadow: 3px 2px 3px #1C263C;
background-color: rgba(0, 255, 204, 0);
border-radius: 8px;
padding:10px;
border:2px;
display:inline-block;
float:left;
color:#FFFFFF;

}

a {
text-decoration: none;
color:white;/*#663300;*/
}

/*a:visited {
color:green;
}*/

/*a:active {
color:purple;
}*/

#helpclosed {
float:right;
width:50px;
height:50px;
background-color: #73e600;
margin-right:;
opacity:0.8;
border:2px solid;
border-radius:100%;
border-color:#663300;
cursor:pointer;
text-align:center;
font-weight:900;
}

#helpwindow {
	
float:right;
width:300px;
height:300px;
background-color: #73e600;
margin-right:50px;
opacity:0.8;
border:2px solid;
border-radius:10%;
border-color:#663300;
display:none;

}


.menubutton {
border:1px solid;
margin: 5px 5px 5px 5px;
background-color: #73e600;
opacity:0.9;
height: 50px;
width: 150px;
border-radius: 10px;
text-align:center;
font-family:station, Trebuchet MS, Verdana, Arial;



}

#actibutton {
	background-color:#cc3300;
}

#passibutton {
	background-color: #73e600;
}


#passibutton:hover {
	background-color:#cc3300;
}

#subform:hover {
	background-color:magenta;
}

#choicemade {
	background-color:magenta;
}



#center-view {
	background-color: #669900;
	opacity:0.8;
	width:700px;
	height:600px;
	display:inline-block;
	margin:5px 5px 5px 5px;
	position:absolute;
	border:2px solid;
	border-radius:10%;
	float:center;
	border-color:#663300;
}

#start-center {
	background-color: #669900;
	opacity:0.8;
	width:60%;
	height:90%;
	display:inline-block;
	margin:5px 20% 5px 20%;
	position:absolute;
	border:2px solid;
	border-radius:10%;
	float:center;
	border-color:#663300;
	text-align:center;

}

#startbutton {
	background-color:#cc3300;
	width:20%;
	height:10%;
	float:center;
	border-color:#663300;
	text-align:center;
	border:2px solid;
	margin: 30% 60% 50% 40%;
	border-radius:20%;
}

#startbutton:hover {
	background-color:magenta;

}

#subform {
	height:40px;
	width:90px;
	
	border:1px solid dashed;
	margin:0px 5px 5px 5px;
	text-align:center;
	padding:4px;
	display:inline-block;
	border-radius:10px;


}


#next {
	margin:35% 10px 10px 10px;
	width:80px;
	height:40px;
	border:1px;
	border-radius:50%;
	background-color:#cc3300;
	text-align:center;
	padding-top:20px;
	display:block;
	float:right;
	font-family:station, Trebuchet MS, Verdana, Arial;
	border-color:#73e600;
	border:2px solid;
}

#next:hover {
	background-color:#73e600;
}

#back {

	margin:35% 10px 10px 10px;
	width:80px;
	height:40px;
	border:1px;
	border-radius:50%;
	background-color:#cc3300;
	position:left;
	text-align:center;
	padding-top:20px;
	display:block;
	float:left;
	font-family:station, Trebuchet MS, Verdana, Arial;
	border-color:#73e600;
	border:2px solid;

}

#back:hover {
	background-color:#73e600;
}


#options {

	width:500px;
	height:450px;
	border:1px;
	background-color: #669900;
	float:center;
	margin:70px 70px 70px 110px ;
	border-radius:10%;
	font-family:station;
	text-align:justify;
	


}

body {
	background-image:url("leaf.jpg");
	color: #1C263C;
	font-style:
	
}

@font-face {
	font-family:station;
	src: url(Station.ttf);

}

.activ {
	background-color:magenta;
}

.passiv {
	background-color:green;
}
