#leftmenu {
margin-left:left;
margin-bottom:auto;
width:150px;
height:600px;
text-align: left;
text-shadow: 3px 2px 3px #333333;
background-color: rgba(0, 255, 204, 0);
border-radius: 8px;
padding:10px;
border:2px;
display:inline-block;
float:left;
color:#FFFFFF;

}

a {
text-decoration: none;
}

a:visited {
color:green;
}

a:active {
color:purple;
}

#helpwindow {
	
float:right;
width:300px;
height:200px;
background-color:blue;
margin-right:50px;
opacity:0.8;
border:1px solid;

}


.menubutton {
border:1px solid;
margin: 5px 5px 5px 5px;
background-color: #FF8330;
height: 50px;
width: 150px;
border-radius: 10px;
text-align:center;
font-family:Trebuchet MS, Verdana, Arial;

}


.menubutton:hover {
	background-color:magenta;
}

#subform:hover {
	background-color:magenta;
}



#center-view {
	background-color:rgba(153, 204, 255,0.9);
	width:700px;
	height:600px;
	display:inline-block;
	margin:5px 5px 5px 5px;
	position:absolute;
	border:2px solid;
	border-radius:10px;
	float:center;
}

#subform {
	height:40px;
	width:90px;
	background-color:green;
	border:1px solid dashed;
	margin:0px 5px 5px 5px;
	text-align:center;
	padding:4px;
	display:inline-block;
	border-radius:10px;


}



#options {

	width:550px;
	height:450px;
	border:1px;
	background-color:orange;
	float:center;
	margin:70px 70px 70px 70px ;
	border-radius:10px;


}

#next {
	margin:35% 10px 10px 10px;
	width:40px;
	height:40px;
	border:1px;
	border-radius:50%;
	background-color:blue;
	text-align:center;
	padding-top:20px;
	display:block;
	float:right;
}

#back {
	margin:35% 10px 10px 10px;
	width:40px;
	height:40px;
	border:1px;
	border-radius:50%;
	background-color:blue;
	position:left;
	text-align:center;
	padding-top:20px;
	display:block;
	float:left;

}

body {
	background-image:url("garden.jpg");
	opacity:45%;
}
